* {
    margin: 0;
    padding: 0;
}
.main-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #e8edf0;
    position: relative;
    overflow: hidden;
}
.phone-4,
.phone-3,
.phone-2,
.phone-1 {
    height: 43%;
    width: 35%;
    position: absolute;
    top: 12%;
    left: 19%;
    transition: 0.3s;
    z-index: 9;
}
.phone-3 {
    top: 13%;
    left: 47%;
}
.phone-1 {
    top: 42%;
    left: 17%;
}
.phone-2 {
    top: 44%;
    left: 46%;
}
.shadow-4,
.shadow-3,
.shadow-2,
.shadow-1 {
    height: 48%;
    width: 40%;
    position: absolute;
    top: 16%;
    left: 17%;
    transition: 0.2s;
    z-index: 7;
}
.shadow-3 {
    top: 17%;
    left: 45%;
}
.shadow-1 {
    top: 46%;
    left: 15%;
}
.shadow-2 {
    top: 48%;
    left: 44%;
}
.phone-4 img,
.phone-3 img,
.phone-2 img,
.phone-1 img,
.shadow-4 img,
.shadow-3 img,
.shadow-2 img,
.shadow-1 img {
    height: 100%;
    width: 100%;
}
.phone-4:hover {
    top: 4%;
    z-index: 12;
}
.phone-3:hover {
    top: 5%;
    z-index: 12;
}
.phone-2:hover {
    top: 36%;
    z-index: 12;
}
.phone-1:hover {
    top: 34%;
    z-index: 12;
}
.phone-4:hover + .shadow-4,
.phone-3:hover + .shadow-3,
.phone-1:hover + .shadow-1,
.phone-2:hover + .shadow-2 {
    z-index: 10;
    height: 53%;
    width: 45%;
    left: 14%;
}
.phone-3:hover + .shadow-3 {
    left: 42%;
}
.phone-2:hover + .shadow-2 {
    left: 41%;
}
.phone-1:hover + .shadow-1 {
    left: 12%;
}


